:root {
  --key-dimension: 50px;
  --keyboard-margin: 5px;
  --font-color: blue;
  --fonts-type: 'Inconsolata', monospace;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(160,199,233,1) 99%);
  color: var(--font-color);
}
.wraper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: 100vh;
  justify-content: center;
}
.header {
  flex-basis: 100%;
  font-size: calc(var(--key-dimension)/2);
  text-align: center;
  letter-spacing: 8px;
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}
.keyboard {
  /* flex-grow: 1; */
  flex-basis: 30%;
  min-width: 300px;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
}
.backspace {
  box-sizing: border-box;
  background-color: blueviolet;
  width: 300px;
  cursor: pointer;
  text-align: center;
  flex-basis: 5%;
  line-height: 1.6;
  font-size: 20px;
  color: white;
  border: 1px solid white;
}
.keys {
  width: 300px;
}
.letter {
  box-sizing: border-box;
  background-color: blueviolet;
  color:white;
  float: left;
  width: var(--key-dimension);
  height: var(--key-dimension);
  border: 1px solid white;
  text-align: center;
  line-height: 100%;
  cursor: pointer;
  margin: var(--keyboard-margin);
  font-size: calc(var(--key-dimension)/2);
  padding: 10px;
  box-shadow: 33px 23px 44px 6px rgba(35,54,176,1);
}
.break {
  clear: both;
}
.showletter {
  font-size: 25px;
  text-align: center;
  flex-grow: 1;
  flex-basis: 50%;
  /* height: auto; */
  line-height: 1.6;
  font-family: var(--fonts-type);
  background-repeat: no-repeat;
  background-position: right;
  background-color: red;
  min-height: 200px;
  /* box-shadow: 33px 23px 44px 6px rgba(35,54,176,1); */
  
}
#psipatrol {
  background-image: url("img/psipatrol.jpg");
  color: black;
  background-position: center;
  background-size: contain;

}
#pepa {
  background-image: url("img/pepa.jpg");
  background-position: cover;
  background-size: contain;
}
#dalmatynczyki {
  background-image: url("img/dalmatynczyki.jpg");
  color: black;
  background-position: center;
  background-size: contain;
}
#muszkieterowie {
  background-image: url("img/muszkieterowie.jpg");
  color: black;
  background-position: center;
  background-size: contain;
}
#odwochtakich {
  background-image: url("img/odwochtakich1.jpg");
  background-position: center;
  background-size: contain;
  color: black;
}
#jagiello {
  background-image: url("img/grunwald.jpg");
  background-position: center;
  background-size: contain;
  color: white;
}
#vangogh {
  background-image: url("img/vangogh1.jpg");
  background-position: center;
  background-size: contain;
  color: white;
}
.number {
  box-sizing: border-box;
  background-color: blueviolet;
  box-shadow: 33px 23px 44px 6px rgba(35,54,176,1);
  float: left;
  width: var(--key-dimension);
  height: var(--key-dimension);
  border: 1px solid white;
  text-align: center;
  line-height: 100%;
  cursor: pointer;
  margin: var(--keyboard-margin);
  font-size: calc(var(--key-dimension)/2);
  padding: 10px;
  color: white;
}
.hiden-sentence {
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
  flex-grow: 1;
  flex-basis: 100%;
  height: 200px;
  padding: 10px;
}
.category {
  font-size: 20px;
}
.content {
  text-align: justify;
  width: 80%;
  margin: 100px auto;
}
.top-menu {
  padding: 10px;
  box-sizing: border-box;
  flex-basis: 100%;
  flex-wrap: wrap;
  display: flex;
  min-height: 40px;
  justify-content: space-around;
}
.menu-button {
  background-color: blueviolet;
  box-sizing: border-box;
  flex-basis: 20%;
  min-width: 200px;
  text-align: center;
  border-bottom: 1px solid white;
  /* flex-grow: 1; */
  font-size: calc(var(--key-dimension)/2);
  color: white;
  cursor: pointer;
  padding: 3px;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,1);
}
.restart {
  width: 100px;
  height: 50px;
}
