:root {
  --key-dimension: 50px;
  --keyboard-margin: 5px;
}
body {
  margin: 0;
  padding: 0;
  background-color: lightgrey;
}
.wraper {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  background-color: grey;
  align-items: stretch;
  height: 100vh;
  
}
.keyboard {
  background-color: red;
  flex-grow: 1;
  flex-basis: 50%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.keys {
  flex-basis: 100%;
}
.letter {
  box-sizing: border-box;
  background-color: green;
  color:white;
  float: left;
  width: var(--key-dimension);
  height: var(--key-dimension);
  border: 1px solid white;
  text-align: center;
  line-height: 100%;
  cursor: pointer;
  margin: var(--keyboard-margin);
  font-size: calc(var(--key-dimension)/2);
  padding: 10px;
}
.break {
  clear: both;
}
.showletter {
  font-size: 50px;
  font-weight: 1000;
  font-size: 100px;
  color: white;
  line-height: 150%;
  text-align: center;
  background-color: blue;
  flex-grow: 1;
  flex-basis: 100%;
}
.number {
  box-sizing: border-box;
  background-color: black;
  color:white;
  float: left;
  width: var(--key-dimension);
  height: var(--key-dimension);
  border: 1px solid white;
  text-align: center;
  line-height: 100%;
  cursor: pointer;
  margin: var(--keyboard-margin);
  font-size: calc(var(--key-dimension)/2);
  padding: 10px;
}
.sentence {
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
  background-color: yellow;
  flex-grow: 1;
  flex-basis: 50%;
}